@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --gray6: #12181b;
    --black: #000000;
    --white: #ffffff;
    --blue-color: #3a86ff;
    --hover-color: #caf0f8;
    --border-input: #ced4da;
    --font-body:'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    color: var(--gray6);
    font-family: var(--font-body);
}
ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: var(--blue-color);
    font-weight: 400;
}
h1,
h2,
h3 {
    font-weight: 400;
}
p {
    font-weight: 400;
    margin-top: 15px;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.container {
    border: 1px solid var(--border-input);
    border-radius: 6px;
}
.head {
    text-align: center;
    margin-top: 15px;
}
.main-form {
    padding: 3rem;
    display: grid;
}
.main-form input {
    font-family: var(--font-body);
    font-weight: 400;

}
.create-acc {
    display:flex;
    justify-content: space-between;
}
.create-acc a {
    padding: 6px;
}
.create-acc a:hover {
    background-color: var(--hover-color) ;
}

.head img {
    width: 100px;
    height: auto;
}
.main-form input {
    height: 50px;
    margin: 6px;
}
.learn-more p {
    margin-top: 3rem;
    font-size: 12px;
}
.create-acc {
    margin-top: 3rem;
}

.create-acc button {
    width: 70px;
    padding: 9px;
    background-color: var(--blue-color);
    color: var(--white);
    border-style: none;
    border-radius: 3px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.footer .option {
    display: flex;
}
.footer .option a {
    margin-left: 2rem;
    color: var(--black);
}
.footer a {
    font-weight: 400;
    font-size:14px;
    color: var(--black);
}