@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --body-color: #023047;
    --link: #0466c8;
    --white: #edf2fb;
    --black: #000814;
    --gray: #979dac;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
}


h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--body-color);
}
a {
    color: var(--body-color);
    text-decoration: none;
}
ul {
    list-style-type: none;
    font-size: 12px;
}
li {
    list-style-type: none;
}
p {
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
header {
    position: fixed;
    margin: 15px;
    margin-left: 180px;
    font-size: 1.8em;
  }

#sidebar-quicklinks {
    position: fixed;
    margin-top: 90px;
    width: 270px;
    margin-left: 180px;
    overflow: scroll;
    height: 100vh;
}
#sidebar-quicklinks li {
    padding: 9px;
    width: 100%;
 
}


#main-detial {
    margin-left: 500px ;
    margin-top: 90px;
    max-width: 600px;
    line-height: 1.5em;
}

#main-detial article {
    margin-bottom: 9px;
    padding: 9px;
}
#main-detial article li {
    font-size: 12px;
}

#main-detial h1 {
    padding: 9px;
}


#main-detial a {
    padding: 9px;
    color:var(--link)
}

#main-detial article img {
    width: 500px;
    height: auto;
    padding: 30px;
    margin-left: 30px;
}
.noted {
    background-color: #a2d2ff;
    padding: 15px;
    border-radius: 6px;
}
.noted strong {
    background-color: #a2d2ff;
}


/*Responsive*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/*

@media only screen and (max-width: 600px) {
    #sidebar-quicklinks {
        position: sticky;
        width: 20rem;
        height: 300px;
        overflow: scroll;
       
    }
    #main-wrapper {
        display: grid;
        
    }
    .main-detial {
        position: absolute;
        margin-left: 5px;
        width: 330px;
        margin-top: 33px;
       
    }
    h1 {
        font-size: 18px;

    }

}
*/

/*
@media only screen and (min-width: 600px) {
    #sidebar-quicklinks {
        position: sticky;
        width: 30rem;
        height: 360px;
        overflow: scroll;
       
    }

    #main-wrapper {
        display: grid;
        
    }
    .main-detial {
        position: absolute;
        margin-left: 5px;
        width: 450px;
        margin-top: 33px;
       
    }
    h1 {
        font-size: 1.6rem;

    }

}

*/

/* Medium devices (landscape tablets, 768px and up) */

/*
@media only screen and (max-width: 768px) {
    #main-wrapper {
        display: flex;
        
    }
    #sidebar-quicklinks {
        position: sticky;
        overflow: scroll;
       
    }
    .main-detial {
       
       
    }


}

*/








